{% extends "navbar.html" %}
{% load tracker_extras %}
{% block content %}
<table class="table table-striped">
  <thead>
    <tr>
      <th><span class="octicon octicon-list-ordered"></span></th>
      <th><span class="octicon octicon-location"></span> City</th>
      <th><span class="octicon octicon-file-code"></span> City ID</th>
      <th><span class="octicon octicon-radio-tower"></span> Query Results</th>
      {% if user.is_authenticated %}
      <th><span class="octicon octicon-database"></span> Force Queries</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
  {% for city in cities %}
  	<tr>
  		{% latest_query city.pk as q %}
  		<td>{{ city.pk }}</td>
  		<td>{{ city.name }}</td>
  		<td><code>{{ city.city_id }}</code></td>
  		<td>{% if q %}<a href="{% url 'query-lookup' q.pk %}">{{ q }}</a>{% else %}N/A{% endif %}</td>
  		{% if user.is_authenticated %}
  		<td><a href="{% url 'new-weather-query' city.pk %}"><button type="button" class="btn btn-xs btn-primary">Current</button></a> <a href=""><button type="button" class="btn btn-xs btn-primary">Forecast</button></a></td>
  		{% endif %}
 	</tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}